<header>
  <div class="head">
    <mat-toolbar>
      <!-- <button
        matIconButton
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        routerLink="/"
      >
        <mat-icon>home</mat-icon>
      </button>
      <span class="head-title" routerLink="/">Manager zadań</span>
      <span class="example-spacer"></span> -->
      <!-- <div class="head-right"> -->
      <button matIconButton class="calendar-icon" routerLink="/manager-zadan">
        <!-- aria-label="Example icon-button with share icon"
      > -->
        <mat-icon>calendar_today</mat-icon>
      </button>
      <span class="head-title" routerLink="/">Zadania</span>
      <span class="example-spacer"></span>
      <button
        matIconButton
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        routerLink="/learn"
      >
        <mat-icon>library_books</mat-icon>
      </button>
      <span class="head-title" routerLink="/learn">Fiszki</span>
      <span class="example-spacer"></span>
      <!-- </div> -->
    </mat-toolbar>
    <!-- <app-nav-bar></app-nav-bar> -->
  </div>
</header>
