<header>
  <div class="head">
    <mat-toolbar>
      <button
        matIconButton
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        routerLink="/"
      >
        <mat-icon>home</mat-icon>
      </button>
      <span class="head-title" routerLink="/">Manager zadań</span>
      <span class="example-spacer"></span>
      <div class="head-right">
        <button matIconButton class="calendar-icon" routerLink="/manager-zadan">
          <!-- aria-label="Example icon-button with share icon"
      > -->
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button
          matIconButton
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          routerLink="/info"
        >
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- <app-nav-bar></app-nav-bar> -->
  </div>
</header>
