/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

//@import "node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "@angular/material/prebuilt-themes/cyan-orange.css";

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue/HelveticaNeueMedium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue/HelveticaNeueBold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue/HelveticaNeueLight.otf")
    format("opentype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "HelveticaNeue";
}
*,
footer {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
    )
  );
}
.cdk-overlay-container {
  z-index: 2000 !important;
}
.form {
  z-index: 1060;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
